body {
    font-family:"Montserrat", sans-serif;
    justify-content: center;
    min-height: fit-content;
    background-color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f8f4f4;
  }
nav ul li {
  display: inline-block;
    list-style: none;
    margin-right: 30px;
    background-color: none;
    align-items: center;
  }
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  } 
  .searchbutton{
    margin-right: 200px;
    margin-left: 10px;
    align-items: center;
  }
  nav ul li .search{
    display: inline-block;
    list-style: none;
    background-color: none;
    text-align: center;
    border-radius: 7px;
    height: 27px;
    width: 220px;
  }
  
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4B9CD3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
  }
  
nav ul li a:hover::after {
    width: 100%;
  }
  nav ul li input[type="text"] {
    animation: fadeIn 0.5s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
    .navbar a:hover{
      color: black;
    }
    nav ul li input[type="text"] {
        padding: 8px;
        border: none;
        border-radius: 7px;
        margin-top: 8px;
        transition: 0.3s;
      }
      
      nav ul li input[type="text"]:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
a{
    text-decoration: none;
    color:black;
}
p{
    color:black;
    display: center;
}
.container{
max-width: 1300px;
margin: auto;
padding-left: auto;
}
section{
    text-align: center;
}
main{
    text-align: center;
}
ul{
    list-style-type: none;
    display:center;
}
button:hover {
    opacity: 0.8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.logo{
    list-style-type: none;
    width: 200px;
}
.submit{
    font-family: "Montserrat", sans-serif;
    padding: 10px 28px;
    font-size: 15px;
    background-color: #fafafa;
    border: none;
    margin-left: 250px;
    margin-top: 80px
}
.login-links{
  display: flex;
  flex-direction: column;
  margin-right: 350px;
  margin-bottom: 50px;
  margin-top: -120px
}
.input-control-usernamepass{
  display: flex;
  place-content: space-around space-evenly;
  flex-flow: column;
  flex-direction: column;
  align-items: baseline;
  margin-left: 320px;
    /*padding: 20px;*/
}
.username{
  /*margin-bottom: 20px;
  margin-left: 80px;
  margin-top: 20px;
  width: 220px;
  display: block;*/
  
}
.bi bi-person-badge{
  margin-right: 25px;
}
.u-icon{
  margin-right: 20px;
}
/*.bi bi-lock{
  margin-right: 30px;
}*/
.password{/*
  height: 27px;
  width: 220px;
  margin-left: 70px;*/
}
button {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 8px;
    border-radius: 3px;
    background-color: white;
    border: none;
}
.login-page{
    width: 1200px;
    background: white;
    padding:50px 0;
}
.form-container{
background: #fafafa;
width : 100%;
height: 100px;
position: relative;
text-align:center;
padding :2rem;
margin: 6% auto;
word-spacing: normal;
margin-bottom: 70px;
min-height: 50vh;
overflow: hidden;
max-width: 600px;
border-radius: 10px;
box-shadow: 0 0 10px 0.1px #086bef;
z-index: 1000;
grid-template-columns: repeat(2, 1fr);
}

h1{
  color: black;
  margin-right: 350px;
  margin-top: 10px;
}
label{
  color: black;
}
.rdo-customer{
  margin-left: 289px;
}
footer{
    width:97%;
    margin:auto;
    padding-left: 40px;
    background-color: #f8f4f4;
    display: flex;
    justify-content: space-evenly;
    height:90px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}
footer p{
    text-decoration: none;
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    align-items: center;
    color: black;
}
footer a {
    font-size: 14px;
    color:black;
    text-decoration: none;
    align-items: center;
}
/*input{
  border-radius: 7px;
  height: 15px;
}*/
.nav-srch{
  border-radius: 7px;

}

