* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body,
  input,
  textarea {
    font-family: "Montserrat", sans-serif;
  }
  
  body{
    overflow-x: hidden !important;
  }
  
  .container1{
    padding: 10px 10%;
    background: #F5F5F5;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 200px;
  }
  
  nav ul li input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 20px;
    margin-top: 8px;
    transition: 0.3s;
  }
  
  nav ul li input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 4px #086bef;
  }
  
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    background-color: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  nav ul li input[type="text"] {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    background-color: none;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    position: relative;
  }
  
  nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #086bef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }

  /* Hamburger menu */
.menu-container {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  .hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999; 
    display: none;
    overflow-x: hidden;
  }
  
  
  @media only screen and (min-width: 769px) {
    .mobile-nav {
        display: none !important;
    }
  }
  
  
  /* mobile nav */
  @media screen and (max-width: 768px) {
  
    nav ul.desktop-nav {
        display: none;
    }
  
    .hamburger-menu {
        display: block;
    }
  
    .mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 75%;
        background-color: #F5F5F5;
        text-align: left;
        z-index: 2;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transform: translateX(110%);
        transition: transform 0.3s ease-out;
    }
  
    .mobile-nav[data-visible="true"]{
        transform: translateX(0%);
    }
    
    .mobile-nav i.fa-xmark {
        font-size: 26px; 
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    
    .mobile-nav i.fa-xmark:hover {
        color: #086bef; 
    }
     
    .mobile-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
  
    .mobile-input input[type="text"] {
        padding: 12px; 
        border-radius: 20px; 
        font-size: 16px; 
        width: auto; 
    }
    
    
    .mobile-nav li {
        display: block;
        margin-top: 25px;
    }
  
    
    .mobile-nav li a {
        color: black; 
        text-decoration: none; 
        font-size: 24px; 
        font-weight: 500; 
        transition: color 0.3s; 
    }
  
    
    .mobile-nav li a:hover {
        color: #086bef; 
    }
  }
  
  .offer-banner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    margin: 0;
  }
  
  .slides {
    display: flex;
    width: 400%; /* Total width of all slides */
    animation: slide 10s linear infinite; /* Adjusted animation duration to match slide count */
  }

  .slide {
    margin-top: 20px;
    width: 25%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
      circle at 100%,
      #086bef,
      #8678f9 50%,
      #c7d2fe 75%,
      #9a8dfd 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 3s linear infinite;
  }
  
  @keyframes animatedTextGradient {
    to {
      background-position: 200% center;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0); /* Starting position */
    }
    20% {
      transform: translateX(0); /* Sliding starts at 20% */
    }
    25% {
      transform: translateX(-25%); /* Slide to the first offer */
    }
    45% {
      transform: translateX(-25%); /* Hold position for 20% */
    }
    50% {
      transform: translateX(-50%); /* Slide to the second offer */
    }
    70% {
      transform: translateX(-50%); /* Hold position for 20% */
    }
    75% {
      transform: translateX(-75%); /* Slide to the third offer */
    }
    95% {
      transform: translateX(-75%); /* Hold position for 20% */
    }
    100% {
      transform: translateX(0); /* Return to the starting position */
    }
  }

  .homepage-video {
    max-height: 800px;
    overflow: hidden;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  video {
    width: 100%;
    height: auto;
  }
  
  .main-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }
  
  .top-picks {
    text-align: center;
    margin: 20px 10px; /* Added padding to create a slight gap */
  }
  
  .top-picks h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .top-picks-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 by 1 grid by default */
    gap: 20px;
    padding: 0 20px; /* Added padding to create a gap */
  }
  
  .top-picks-images img {
    width: 100%; /* Make images responsive within their container */
    height: auto; /* Maintain aspect ratio */
    background-color: #f0f0f0;
  }
  
  
  .wide-banner {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 80%;
  }
  
  .wide-banner img {
    width: 100%;
    height: auto;
    max-width: 1400px;
  }
  
  .filter-container {
    text-align: right;
    padding: 20px;
    margin-bottom: 20px; 
  }
  
  .filter-container select, .filter-container button {
    margin: 0 5px;
    padding: 5px 10px;
  }
  

  .container { 
    width: 100%;
  }
  
  .products-container {
    background-color: #fff; /* Set background color */
    padding: 20px; /* Add padding for spacing */
    margin: 20px; /* Add margin to create space between container and sides of the screen */
  }
  
  
  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin to separate from product grid */
  }
  
  .filter-container select,
  .filter-container button {
    padding: 10px; /* Add padding to select and button */
    border: 1px solid #ccc; /* Add border to select and button */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #fff; /* Set background color */
  }
  
  .filter-container select:focus,
  .filter-container button:focus {
    outline: none; /* Remove outline on focus */
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px;
  }
  
  .product {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  box-shadow: 0 0 10px 0.1px #086bef;
  }
  
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1.1);
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .product:hover .overlay {
    transform: translateY(0);
  }
  
  .product:hover img {
    transform: scale(1.19);
  }
  
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    .product {
        border-radius: 6px;
      }
  }
  
  
  
  
  
  
  footer{
    margin:auto;
    padding-left: 40px;
    background-color: #F5F5F5;
    
    display: flex;
    justify-content: space-evenly;
    height:90px;
    color:black;
    align-items: center;
    
  }
  
  footer p{
    text-decoration: none;
    font-size: 12px;
    align-items: center;
  }
  footer a {
    font-size: 12px;
    color:black;
    text-decoration: underline;
    align-items: center;
  
  }

  @media screen and (max-width: 768px) {
  
  
    .top-picks-images {
      grid-template-columns: repeat(2, 1fr);
    }
  

  .container1 {
    padding: 10px 5%;
  }

  .form {
    grid-template-columns: 1fr;
    max-width: 90%;
    margin: 0 auto;
  }

  .footer {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  footer div {
    margin-bottom: 20px;
  }

  footer p {
    margin: 0;
  }
}