*{
    margin:0;
    padding:0;
}

body{
    background:white;
    font-size:14px;
    font-family:sans-serif;
}
.navbar{
    display:flex;
    align-items: center;
    padding:10px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right:50px;
    font-size: medium;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.logo{
    list-style-type:none;
    align-items: center;
    width:max-content;
}

.main{
    max-width: 1300px;
    height: 100px;
    margin: auto;
    padding-left: 25px;
    background-color: lightgreen;
    border-radius: 25px;
}
ul{
    list-style-type: none;
   text-align: justify;
   text-decoration: none;
   align-items: center;
}
.navbar a:hover{
    background-color: black;
    color: white;
}

.container{
    width:80%;
    margin:50px auto;

}

.contact-box{
    background-color:lightgreen;
    display:flex;
    border-radius: 30px;
    

}
.contact-form{
    flex-basis: 60%;
    padding:40px 60px;

}

.company-info{
    flex-basis: 40%;
    padding:40px;
    background-color: rgb(109, 192, 109);
    color:black;
    border-radius: 30px;

}
h1{
    margin-bottom:10px;

}
.container p{
    margin-bottom:40px;
    font-family:sans-serif;

}

.input-info{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-info .inputs{
    flex-basis:45%;
}

input{
    width:100%;
    border:none;
    border-bottom:1px solid black;
    outline:none;
    padding-bottom: 5px;
}
textarea{
    width:100%;
    border:1px solid black;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display:block;
    color:white;
}

button{
    background:white;
    color:black;
    border:none;
    width:70px;
    margin-top:20px;
    border-radius: 30px;
    height:25px;
}

.contact-form h3{
    color:white;
    font-family:sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    font-size:20px
}

.company-info h3{
    color:white;
    font-family:sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    font-size:20px
}

tr td:first-child{
    padding-right:20px;

}

tr td{
    padding-top: 40px;
}
.company-info{
    color:white;
    font-family:sans-serif;
    
}
